{% extends 'nicecss_base.html' %}
{% block title %} {{g.title}} &raquo; Galleries Padova &raquo;{% endblock %}


{% block content %}

<div id="gall_intro" class="blog" style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dotted #716455">
    <h2>Gallery &raquo; {{g.title}}</h2>
    <div id="gall_desciption">
        <div class="gall_thumb" style="float: left; margin: 0 5px 5px 0">
            <img src="{% url photogallery.views.getpic2 key=g.key model=g.title %}"/>
        </div>
        	{{g.description|safe}}
    </div>
    <div class="clear"></div>
</div>
{% ifnotequal count(image) 0 %}
<div>
{% for image in g_images %}
    <div style="float: left; padding: 3px">
        <a href="{% url photogallery.views.view_img key=image.key name=image.imgname%}" class="rightgall" rel="group">
            <img rel="" src="{% url photogallery.views.thumbnailer key=image.key name=image.imgname%}" width="100" height="100"/>
        </a>
    </div>
{% endfor %}
</div>
{% endifnotequal %}
{% endblock %}
