{% load common_templatetags %}
{% get_latest photogallery.Gallery 15 as galleries top_galleries_bar%}
<div class="right_top">
	<div id="slider">
        <div class="scroll">
            <div class="scrollContainer">
            {% for g in galleries %}

                {% for img, v in g.items%}
                
                {% if v|first%}
                <div class="panel">
                    <ul>
                {% endif %}
                        {% for gall in v%}
                    	<li>
                    	    <a href="{% url photogallery.views.show_gallery key=gall.key %}" class="tooltip" title="{{ gall.description|escape|striptags }}">
                        	    <img src="{% url photogallery.views.getpic2 key=gall.key model=gall.title %}" alt="{{ gall.description|escape|striptags }}"/>
                            </a>
                        	<span>{{gall.title}}</span>
                        </li>
                        {%endfor%}
                {% if v|last %}                         
                    </ul>
                </div>
                {% endif %}
                
                {%endfor%}
            {%endfor%}      
            </div>  
        </div>
    </div>
</div>