{% extends 'nicecss_base.html' %}
{% block title %}News arte Padova &raquo; {{ block.super }}{% endblock %}

{% block content %}

<div class="blog">
	<h2>News</h2>
    {% for news in object_list %}
    <div class="blog_post">
        <p class="blog_title"><a href="/news/{{news.slug}}">{{news.title}}</a></p>
        <p class="blog_date">{{ news.created|date:"d M Y" }}</p>
        
        	{% autoescape off %}
        	    {{news.content|truncatewords_html:40}}
        	{% endautoescape %}
        
        <p class="action_links"><a href="/news/{{news.slug}}">leggi tutto</a></p>
    </div>
    {% endfor %}
</div>
{%ifnotequal paginator.num_pages 1 %}
<div class="pagination">
    <span class="step-links">
        {% if has_previous %}
            <a href="{% url myblog.views.list_news %}?page={{ previous }}">&lt;-previous</a>
        {% endif %}

        <span class="current">
            Page {{ paginator.number }} of {{ paginator.num_pages }}
        </span>

        {% if has_next %}
            <a href="{% url myblog.views.list_news %}?page={{ next }}">next-&gt;</a>
        {% endif %}
    </span>
</div>
{% endifnotequal %}
{% endblock %}
