{% extends 'nicecss_base.html' %}
{% block title %}Mostre arte Padova &raquo; {{ block.super }}{% endblock %}

{% block content %}

<div class="blog">
	<h2>News</h2>
    <div class="blog_post">
        <p class="blog_title">{{news.title}}</p>
        <p class="blog_date">{{ news.created|date:"d M Y" }}</p>
        	{{news.content|safe}}
    </div>
</div>

{% endblock %}

{% block right_content %}
    {% ifnotequal count(images) 0 %}
    <p>clicca sulle foto per ingrandirle</p>
        {% for i in p_images %}
            <div>
                <a href="{% url myblog.views.download_file key=i.key name=i.name%}" class="rightgall" rel="group">
                    <img rel="" src="{% url myblog.views.get_right_pic key=i.key name=i.name%}"/>
                </a>
            </div>
        {% endfor %}
    {% endifnotequal %}
{% endblock %}